:root {
    --top-height: 33px;
    --app-height: calc(100vh - var(--top-height));
}

/* ------------------------------- Fonts ------------------------------- */
@font-face {
    font-family: "Mitype2018-90";
    src: url("fonts/MiType/Mitype2018-90.otf");
}

@font-face {
    font-family: "Mitype2018-80";
    src: url("fonts/MiType/Mitype2018-80.otf");
}

@font-face {
    font-family: "Mitype2018-70";
    src: url("fonts/MiType/Mitype2018-70.otf");
}

@font-face {
    font-family: "Mitype2018-60";
    src: url("fonts/MiType/Mitype2018-60.otf");
}

@font-face {
    font-family: "Mitype2018-50";
    src: url("fonts/MiType/Mitype2018-50.otf");
}

@font-face {
    font-family: "MitypeVF";
    src: url("fonts/MiType/MitypeVF.ttf");
}

@font-face {
    font-family: "SF Pro Display";
    src: url("fonts/SanFrancisco/SF-Pro-Display-Regular.otf");
}

/* ------------------------------- Animations ------------------------------- */
/* .block-list-enter-active,
.block-list-leave-active {
    transition: opacity 10s ease;
} */

.fade-enter-active {
    transition: opacity .4s ease;
}

.fade-leave-active {
    transition: opacity .2s ease;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.block-list-enter,
.block-list-leave-to {
    opacity: 0;
}

.block-list-enter {
    opacity: 0;
    /* 中心 */
    transform: translate(-45vw, -45vh);

    /* transform: scale(0, 0); */

}

.block-list-leave-to {
    opacity: 0;
    /* 中心 */
    transform: translate(5vw, 10vh);
}


/* .block-list-enter-active,
.block-list-leave-active {
    transition: all 0.5s ease;
} */

.block-list-move {
    /* position: relative; */
    transition: all .5s ease;
}

.block-list-leave-active {
    position: absolute;
}



body,
button,
input,
select,
textarea {
    font-family: -apple-system, 'SF Pro Display',
        SF UI Text,
        PingFang SC,
        Lucida Grande,
        STheiti,
        Microsoft YaHei,
        sans-serif,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
    outline: none;
    -webkit-text-size-adjust: none;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background: center/cover no-repeat fixed #343537;
    /* backdrop-filter: blur(10px); */
    margin: 0;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.f-top {
    justify-content: flex-start;
}

.f-left {
    align-items: flex-start;
}



#view {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#tab-container {
    width: 100%;
    height: var(--top-height);
    /* max-height: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
}

#app {
    width: 100%;
    height: var(--app-height);
    background: transparent;
    background-color: rgb(255, 255, 255);
    /* backdrop-filter: blur(15px); */
    /* background: rgba(51, 51, 51, 0.384); */
    /* backdrop-filter: blur(10px); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

/* #app>div {
    width: 100%;
    height: 620px;
} */

#main {
    display: block;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;

}

.srch {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* height: 100%; */
}

/* #app>div {
    height: 620px;
    width: 100%;
    background: #ffffff;
} */

/* #app>div>iframe {
            width: 100%;
            height: 620px;
            background: #ffffff;
        } */
#app>iframe {
    width: 100%;
    /* height: 10px; */
}

/* #main{
            height: 620px;
        } */
.tabs {
    /* margin-left: 30px; */
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* flex-wrap: nowrap; */
    /* background-color: rgba(51, 51, 51, 0.384); */
    /* backdrop-filter: blur(18px); */
}

.tab {
    /* float: left; */
    display: block;
    color: white;
    /* text-align: center; */
    padding: 5px 16px;
    text-decoration: none;
    /* align-items: center; */
    /* justify-content: center; */
    /* justify-items: center; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}

.activeTab {
    color: #333;
    /* background-color: rgba(51, 51, 51, 0.384); */
    background-color: #f6f7f9;
    flex-shrink: 0;
}

.inactiveTab {
    flex-shrink: 1;
}

.tab:hover {
    /* background-color: rgba(51, 51, 51, 0.384); */
    background-color: #ffffff46;
    transition: all .2s;
    cursor: pointer;
    flex-shrink: 0;
}

.mainTab {
    /* change */
    background-color: #17181a;
    color: #fff;
}

iframe {
    scroll-behavior: smooth;

}

.notes {
    width: 30%;
    height: 300px;
    border: none;
    border-radius: 20px;
    padding: 15px;
    background-color: rgb(241, 241, 241);
    font-size: 20px;
}

input:focus,
textarea:focus {
    outline: none;
}

.el-switch__core {
    /* margin: 0; */
    /* position: relative; */
    /* width: 40px; */
    /* height: 20px; */
    border: 1px solid #ffffff00;
    /* outline: 0; */
    /* border-radius: 10px; */
    /* -webkit-box-sizing: border-box; */
    /* box-sizing: border-box; */
    background: #27282a;
    /* -webkit-transition: border-color .3s, background-color .3s; */
    /* vertical-align: middle; */
    /* transition: border-color .3s, background-color .3s; */
}