:root {
    --mode: 'unknown';
    --tab-height: 33px;
    --app-height: calc(100vh - var(--tab-height));

    --bg-color: #f6f7f9;
    --elem-color: #ffffff;
    --first-assist-color: #eee;
    --main-color: #000000;
    --body-color: #f1f3f4;
    --inactive-color: #888;
    --search-padding: 500px;
    --blur-color: var(--blur-color-light);
    --blur-color-dark: #00000035;
    --blur-color-light: #ffffff35;
    --blur-color-solid: #f0f0f0cc;
    --blur-color-dark-solid: #333333aa;
    --blur-color-light-solid: #f0f0f0cc;
    --shadow-color: var(--shadow-color-light);
    --shadow-color-light: rgba(29, 29, 29, 0.219);
    --shadow-color-dark: rgba(29, 29, 29, 0.411);


}

@media screen and (prefers-color-scheme: light) {
    :root {
        --mode: 'light';
        --bg-color: #f6f7f9;
        --elem-color: #ffffff;
        --first-assist-color: #eee;
        --main-color: #000000;
        --body-color: #f1f3f4;
        --inactive-color: #888;
        --blur-color: var(--blur-color-light);
        --blur-color-solid: var(--blur-color-light-solid);
        --shadow-color: var(--shadow-color-light);

    }
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --mode: 'dark';
        --bg-color: #17181a;
        --elem-color: #2d2e30;
        --first-assist-color: #595a5e;
        --main-color: #ffffff;
        --body-color: #343537;
        /* --body-color: #005663; */
        --inactive-color: #ddd;
        --blur-color: var(--blur-color-dark);
        --blur-color-solid: var(--blur-color-dark-solid);
        --shadow-color: var(--shadow-color-dark);

    }

    /* img {
        opacity: .8;
    } */
}

/* ------------------------------- Fonts ------------------------------- */
@font-face {
    font-family: "Mitype2018-90";
    src: url("fonts/MiType/Mitype2018-90.otf");
}

@font-face {
    font-family: "Mitype2018-80";
    src: url("fonts/MiType/Mitype2018-80.otf");
}

@font-face {
    font-family: "Mitype2018-70";
    src: url("fonts/MiType/Mitype2018-70.otf");
}

@font-face {
    font-family: "Mitype2018-60";
    src: url("fonts/MiType/Mitype2018-60.otf");
}

@font-face {
    font-family: "Mitype2018-50";
    src: url("fonts/MiType/Mitype2018-50.otf");
}

@font-face {
    font-family: "MitypeVF";
    src: url("fonts/MiType/MitypeVF.ttf");
}

@font-face {
    font-family: "SF Pro Display";
    src: url("fonts/SanFrancisco/SF-Pro-Display-Regular.otf");
}

/* ------------------------------- Animations ------------------------------- */
/* .block-list-enter-active,
.block-list-leave-active {
    transition: opacity 10s ease;
} */

.fade-enter-active {
    transition: opacity .4s ease;
}

.fade-leave-active {
    transition: opacity .2s ease;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.zoom-enter-active {
    transition: all .2s ease;
}

.zoom-leave-active {
    transition: all .2s ease;
}

.zoom-enter,
.zoom-leave-to {
    transform: scale(0.8);
    opacity: 0;
}



.blur-enter-active {
    transition: all .7s ease;
}

.blur-leave-active {
    transition: all .7s ease;
}

.blur-enter {
    opacity: 0;
    filter: blur(200px);
    transform: scale(1.5);

}

.blur-leave-to {
    filter: blur(200px);
    transform: scale(1.5);
    opacity: 0;
}

/* 
.block-list-enter,
.block-list-leave-to {
    opacity: 0;
} */

.block-list-enter {
    opacity: 0;
    /* 中心 */
    transform: translate(-45vw, -45vh);
    filter: blur(10px);

    /* transform: scale(0, 0); */

}

.block-list-leave-to {
    opacity: 0;
    /* 中心 */
    transform: translate(5vw, 10vh);
    filter: blur(10px);
}


/* .block-list-enter-active,
.block-list-leave-active {
    transition: all 0.5s ease;
} */

.block-list-move {
    /* position: relative; */
    transition: all .5s ease;
    transform: scale(0.99);
}

.block-list-leave-active {
    position: absolute;
}


/* ----------------------------------Main---------------------------------- */
body,
button,
input,
select,
textarea {
    font-family: -apple-system, 'SF Pro Display',
        SF UI Text,
        PingFang SC,
        Lucida Grande,
        STheiti,
        Microsoft YaHei,
        sans-serif,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
    outline: none;
    -webkit-text-size-adjust: none;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background: var(--body-color);
    margin: 0;
}

.el-switch__label {
    color: var(--main-color);
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.f-top {
    justify-content: flex-start;
}

.f-left {
    align-items: flex-start;
}

.transition {
    transition: all .25s ease;
}

.bg-enable {
    background: none !important;
}

.bg-content-bg-style {
    background: var(--blur-color-solid) !important;
    backdrop-filter: saturate(180%) blur(20px) !important;
    /* transition: all .35s ease !important; */
}

.bg-text-style {
    color: #fff !important;
    transition: all .35s ease !important;
}

.bg-rev-text-style {
    /* color: #fff !important; */
    /* transition: all .35s ease !important; */
}

#tab-container {
    width: 100%;
    height: var(--tab-height);
    /* max-height: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
}

#app {
    width: 100%;
    height: var(--app-height);
    background: transparent;
    background-color: rgb(255, 255, 255);
    /* backdrop-filter: blur(15px); */
    /* background: rgba(51, 51, 51, 0.384); */
    /* backdrop-filter: blur(10px); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 24, 104, 0.13) 0px -4px 20px;

}

/* #app>div {
    width: 100%;
    height: 620px;
} */

#main {
    display: block;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;

}

.srch {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* height: 100%; */
}

/* #app>div {
    height: 620px;
    width: 100%;
    background: #ffffff;
} */

/* #app>div>iframe {
            width: 100%;
            height: 620px;
            background: #ffffff;
        } */
#app>iframe {
    width: 100%;
    /* height: 10px; */
}

/* #main{
            height: 620px;
        } */
.tabs {
    width: 100%;
    margin: 0 30px;
    padding: 0;
    /* width: 100vw; */
    display: flex;
    justify-content: center;
    height: var(--tab-height);
    list-style-type: none;
    /* overflow: hidden;     */
    flex-wrap: nowrap;
    /* background-color: rgba(51, 51, 51, 0.384); */
    /* backdrop-filter: blur(18px); */
}


.tab {
    /* float: left; */
    height: var(--tab-height);
    line-height: var(--tab-height);
    display: block;
    color: var(--inactive-color);
    /* text-align: center; */
    /* transition: all .2s ease; */
    padding: 0 16px;
    text-decoration: none;
    /* align-items: center; */
    /* justify-content: center; */
    /* justify-items: center; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* overflow: hidden; */

}


.activeTab {
    color: #333;
    /* background-color: rgba(51, 51, 51, 0.384); */
    background-color: #f6f7f9;
    flex-shrink: 0;
    z-index: 100;
    box-shadow: rgba(0, 24, 104, 0.041) 0px 0px 10px 0px;

}

.inactiveTab {
    flex-shrink: 1;
}

.tab:hover {
    /* background-color: rgba(51, 51, 51, 0.384); */
    background-color: var(--first-assist-color);
    color: var(--main-color);
    transition: all .2s;
    cursor: pointer;
    z-index: 100;
    flex-shrink: 0;
}

.mainTab {
    /* change */
    background-color: var(--bg-color);
    color: var(--main-color);
}

iframe {
    scroll-behavior: smooth;

}

.notes {
    width: 30%;
    height: 300px;
    border: none;
    border-radius: 20px;
    padding: 15px;
    background-color: rgb(241, 241, 241);
    font-size: 20px;
}

input:focus,
textarea:focus {
    outline: none;
}

.el-switch__core[data-color-scheme="true"] {
    /* margin: 0; */
    /* position: relative; */
    /* width: 40px; */
    /* height: 20px; */
    border: 1px solid #ffffff00;
    /* outline: 0; */
    /* border-radius: 10px; */
    /* -webkit-box-sizing: border-box; */
    /* box-sizing: border-box; */
    background: #27282a;
    /* -webkit-transition: border-color .3s, background-color .3s; */
    /* vertical-align: middle; */
    /* transition: border-color .3s, background-color .3s; */
}

#view {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}


/* #todo {
    width: 350px;
    height: 100vh;
    background: #fff;
    z-index: 1000000;
    flex-shrink: 1;

} */