#searchWrap {
    width: 100%;
    padding: var(--search-padding) var(--search-padding);
    background: #ffffff3f;
    backdrop-filter: blur(50px) saturate(180%);
    position: absolute;
    bottom: calc(0 - var(--search-padding));
    z-index: 1000;
    /* transition: all ease-in-out .5s; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow: hidden;
}

#timeWrap {
    /* transform: translate(-50%, 0); */
    width: 80%;
    max-width: 700px;
    height: 110px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background: var(--bg-color)3f; */
    background: #ffffffaa;
    backdrop-filter: blur(10px) saturate(80%);
    position: absolute;
    top: 0;
    z-index: 999;
    border-radius: 20px;
    margin: calc(var(--tab-height) + 10px) 0 0 0;
}

#todoWrap {
    width: 100%;
    /* height: 200px; */
    background: var(--bg-color);
    /* backdrop-filter: blur(50px); */
    position: absolute;
    top: 0;
    z-index: 1002;
    /* transition: all ease-in-out .5s; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

#musicWrap {
    width: 100%;
    /* height: 200px; */
    /* background: var(--bg-color); */
    background: #00000055;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    z-index: 1002;
    /* transition: all ease-in-out .5s; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    justify-content: center;
    flex-direction: row;
}


.close {
    position: absolute;
    right: 50px;
    top: 50px;
    color: white;
    background-color: #27282aa2;
    cursor: pointer;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time-close {
    margin-left: 40px;
    /* position: absolute; */
    /* right: 50px;
    top: 50px; */
    color: white;
    background-color: #27282aa2;
    cursor: pointer;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.time-indent {
    /* margin: 50px 0 25px 20px; */
    align-items: flex-start;
    justify-content: space-evenly;
    height: 50%;
    flex-wrap: wrap;
    width: 50%;
}

.headArea {
    width: 90%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 30px;
}

.searchBox_inWrap {
    width: 80%;
    max-width: 700px;
    /* flex-direction: row; */
}

#contentZone {
    width: 85vw;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    /* margin-bottom: 10vh;
    margin-top: 5vh; */
}

#biliZone {
    height: 520px;
    width: 390px;
    border-radius: 10px;
    overflow: hidden;
}

#linkZone {
    height: 100%;
    background: #fff;
    margin-left: 20px;
    width: 55vw;
    height: 520px;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    /* width: 50vw; */
}

#bili {
    width: 100%;
    background: transparent;
    overflow: hidden;
    height: 100%;
}

/* .chaoxing {
    width: 937px;
    height: 94%;
    flex-shrink: 0;
    margin-left: 200px;
    margin-top: 30px;
} */

.notify {
    width: 100vw;
    height: var(--app-height);
    border-radius: 12px;
    /* margin: 30px; */
    overflow: hidden;
    /* scroll-behavior: smooth; */
}

.music-item {
    width: 390px;
    height: 520px;
    border-radius: 12px;
    overflow: hidden;
    background: #ffffffaa;
    transition: all .5s ease;
    z-index: 1000;
}

#music-tab-container {
    /* width: 100%; */
    /* height: var(--tab-height); */
    /* max-height: 50px; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
    /* overflow: hidden; */
    width: max-content;
}

.music {
    width: 390px;
    /* height: var(--app-height); */
    height: 520px;
    border-radius: 12px;
    /* margin: 30px; */
    overflow: hidden;
    /* scroll-behavior: smooth; */
}

.notifyContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.musicContainer {
    width: 390px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    justify-content: center;
}

.notifyItem {}

.blank {
    width: 100%;
    height: 30px;
}

.float-wrap {
    width: 100vw;
    height: 100vh;

}