#searchWrap {
    width: 100%;
    background: var(--bg-color)3f;
    backdrop-filter: blur(50px);
    position: absolute;
    top: 0;
    z-index: 1000;
    /* transition: all ease-in-out .5s; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

#timeWrap {
    width: 30vw;
    height: 128px;
    margin-top: var(--tab-height);
    /* background: var(--bg-color)3f; */
    background: #ffffff00;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    z-index: 999;
    border-radius: 20px;
    margin: var(--tab-height) 0 0 10vw;
}

#todoWrap {
    width: 100%;
    /* height: 200px; */
    background: var(--bg-color);
    /* backdrop-filter: blur(50px); */
    position: absolute;
    top: 0;
    z-index: 1002;
    /* transition: all ease-in-out .5s; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}



.close {
    position: absolute;
    right: 50px;
    top: 50px;
    color: white;
    background-color: #27282aa2;
    cursor: pointer;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.time-indent {
    margin: 50px 0 25px 20px;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 100%;
}

.headArea {
    width: 90%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 30px;
}

.searchBox_inWrap {
    width: 80%;
    max-width: 700px;
    /* flex-direction: row; */
}

#bili {
    width: 380px;
    background: transparent;
    overflow: hidden;
    height: 100%;
}

/* .chaoxing {
    width: 937px;
    height: 94%;
    flex-shrink: 0;
    margin-left: 200px;
    margin-top: 30px;
} */

.notify {
    width: 100vw;
    height: var(--app-height);
    border-radius: 12px;
    /* margin: 30px; */
    overflow: hidden;
    /* scroll-behavior: smooth; */
}

.notifyContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.notifyItem {}

.blank {
    width: 100%;
    height: 30px;
}

.float-wrap {
    width: 100vw;
    height: 100vh;

}